@import 'breakpoint';
*{
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background-color: #111111;
}

.ant-btn-primary{
    background-color: #FBB13C;
    color: #111111;
    
    &:hover{
        background-color: #EE9016 !important;
        color: #111111 !important;
    }
}

.cdx_overloading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111111;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    pointer-events: auto;

    svg{
        animation: spin .5s infinite;
        color: #FBB13C;
    }

}

.login_page{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .login_wrap{
        background-color: #181818;
        width: 80%;
        max-width: 600px;
        padding: 25px;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        .top_header{

            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;

            button{
                background-color: #242424;
                color: #FFFFFF;
                border-radius: 40px;
                padding: 20px 40px;
                border: 1px solid transparent;
                outline: none;
                flex: 1;
                
                font-size: 20px;
                cursor: pointer;
                
                &.active{
                    border: 1px solid #FBB13C;
                    color: #FBB13C;
                }
            }
        }

        .middle_form{
            flex-direction: column;
            display: flex;
            gap: 15px;

            .form_element{
                width: 100%;
                background-color: #242424;

                input{
                    width: 100%;
                    height: 45px;
                    background-color: transparent;
                    color: white;
                    border: none;
                    outline: none;
                    padding: 15px;
                }
            }
        }

        .social_btn{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: 45px;
                cursor: pointer;
            }
        }

        .footer{
            display: flex;
            justify-content: center;
            a{
                color: #FBB13C;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

.cgl_primary_btn{
    border: none;
    outline: none;
    background-color: #FBB13C;
    color: #181818;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    
    &.rounded{
        border-radius: 40px;
    }
}

main{
    // padding: 40px;
}

.main_gamelist{
    display: flex;
    align-items: center;
    gap: 15px;

    .cgl_gameitem{
        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #242424;
        border-radius: 40px;
        padding: 5px;
        cursor: pointer;

        &.active{
            border: 1px solid #FBB13C;
        }
    }
}

.cgl_nav{
    padding: 10px 20px;
    background: #181818;

    display: flex;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li{
            margin: 5px 30px;
            padding: 3px 8px;

            a{
                color: #FFFFFF;
                font-size: 16px;

                &:hover{
                    color: #EE9016;
                }
            }
        }
    }
}

.tourn_list{

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .tourn_item{
        color: #FFFFFF;
        display: flex;
        gap: 20px;
        background-color: #181818;
        cursor: pointer;

        .content{
            padding: 20px;
            h1{
                padding-bottom: 15px;
            }

            h4{
                color: #848484;
                font-weight: 300;
                padding-bottom: 30px;
            }

            .tags{
                display: flex;
                gap: 15px;
                font-size: 15px;
                font-weight: 300;
                color: #848484;
            }
        }
    }

    &.small{
        padding: 0px;
        .poster{
            img{
                height: 100px;
            }
        }

        .tourn_item{
            gap: 10px;
    
            .content{
                padding: 10px;
                h1{
                    padding-bottom: 5px;
                    font-size: 15px;
                }
    
                h4{
                    font-size: 13px;
                    padding-bottom: 10px;
                }
    
                .tags{
                    gap: 5px;
                    font-size: 13px;
                }
            }
        }
    }
}

.text-white{
    color: white;
}

.cgl_padding{
    padding: 15px;
}

.pt-20{
    margin-top: 20px;
}

.profile_info{
    h1{
        color: #FFFFFF;
        font-size: 30px;
        margin-bottom: 15px;
    }
    h6{
        color: #EE9016;
        font-size: 16px;
        font-weight: 200;
    }
}

.cgl_wallet{
    background-color: #181818;
    display: inline-block;
    padding: 8px;
    p{
        color: #656F81;
        font-size: 14px;
    }
    h5{
        color: #FFFFFF;
        font-size: 20px;
        margin-right: 20px;
    }
}